[submodule "Lab_1_OOP_Cpp"]
	path = Lab_1_OOP_Cpp
	url = https://github.com/RudychukDmytro/OOP_Labs_1.git
[submodule "Lab_2_OOP_cpp"]
	path = Lab_2_OOP_cpp
	url = https://github.com/RudychukDmytro/OOP_Labs_2
[submodule "Lab_3_OOP_Cpp"]
	path = Lab_3_OOP_Cpp
	url = https://github.com/RudychukDmytro/OOP_Labs_3.git
